In [1]:
123

123

In [2]:
type(123)

int

In [3]:
123.45

123.45

In [4]:
type(123.45)

float

In [5]:
'123.45'

'123.45'

In [6]:
type('123.45')

str

In [8]:
sign_up = True
print(type(sign_up))

<class 'bool'>

In [9]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [10]:
x = 123
y = 123.45
z = 'The result of' + str(x) + " + " + str(y) + " = " + str(x+y)
print(type(str(y)))
print(z)

<class 'str'>
The result of123 + 123.45 = 246.45

In [11]:
z = 'I am from CUC.'
print(z[0:4])
print(z[0:14])
print(z[-4:])

I am
I am from CUC.
CUC.

In [12]:
print(len(z))
print(z[0:13])
print(z[-3:])
print(z[10:13])

14
I am from CUC
UC.
CUC

In [13]:
famous_person = "Princess Diana"
print(famous_person)
famous_person2 = famous_person.replace("Diana","kate")
print(famous_person,famous_person2)
print(famous_person.split())

Princess Diana
Princess Diana Princess kate
['Princess', 'Diana']

In [14]:
x = 3.14
y = str(x)
print(y)
type(y)

3.14

str

In [15]:
x = 3.14
y = str(x)
z1 = float(y)
print(z1)
type(z1)
z2 = int(y[0:y.find('.')])
print(z2)
print(type(z1))
print(type(z2))

3.14
3
<class 'float'>
<class 'int'>

In [17]:
tuple1 = (1,1.32,2,'CUC')
print(tuple1)
list1 = [1,1.32,2,'CUC']
print(list1)

(1, 1.32, 2, 'CUC')
[1, 1.32, 2, 'CUC']

In [18]:
myList = [1,2,3,4,5,1.5]
print(sorted(myList))

[1, 1.5, 2, 3, 4, 5]

In [21]:
score_list = [100,95,85,60,60.5,70]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)
del(score_list[6])
print(score_list[3:7])
print(score_list)
score_list.append([1,2,3,"I am from CUHK",True])
print(score_list)
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)
score_list.remove(100)
print(score_list)

[100, 95, 85, 60, 60.5, 70]
60
[100, 95, 85, 60, 60.5, 70, 50]
[60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK', True]]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK', True], [11, 22, 33, [44, 55, 66]]]
[95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK', True], [11, 22, 33, [44, 55, 66]]]

In [22]:
dict1 = {'Peter':80, 'David':90, 'Mary':100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1["David"])
score_list = []
score_list.append(dict1)
print(score_list)

{'Peter': 80, 'David': 90, 'Mary': 100}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 90, 100])
90
[{'Peter': 80, 'David': 90, 'Mary': 100}]

In [24]:
test1 = {'Peter':50, 'David':60, 'Mary':70}
assignment1 = {'Peter':50, 'David':70, 'Mary':80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'David': 60, 'Mary': 70}, {'Peter': 50, 'David': 70, 'Mary': 80}]

In [26]:
#set of mixed datatypes
my_set = {1.0, "Hello", (1,2,3)}
print(my_set)
print(type(my_set))
#set can't have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}
<class 'set'>
{1, 2, 3, 4}

In [27]:
i = 1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [28]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John','Mike','Mary','Jane']
fee_list = []
for number in range(len(name_list)):
    hrs = hrs_list[number]
    rate = rate_list[number]
    fee = hrs * rate
    fee_list.append(fee)
    money_made = name_list[number] + "makes" + str(fee) + "."
    print(money_made)
money_list = []
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

Johnmakes1950.0.
Mikemakes3000.0.
Marymakes3250.0.
Janemakes4500.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0, 4500.0]]

In [29]:
my_list = ['red','green','blue','orange','black']
index = 0
for i in my_list:
    if i == "blue":
        print(index, "Blue is printed.")
        index += 1
    else:
        print(index, my_list[index])
        index = index + 1
print("This is done.")

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done.

In [31]:
import pandas as pd
df1 = pd.DataFrame({
    #Define dataframe as a dictionary object
    'Product ID':[ 1, 2, 3, 4],
    #add Product Name and Color here
    'Product Name':['T-shirt', 'jeans', 'shirt', 'skirt'],
    'Color':['blue', 'green', 'red', 'black'],
    'Units Sold':[250, 300, 180, 200]
})
print(df1)

   Product ID Product Name  Color  Units Sold
0           1      T-shirt   blue         250
1           2        jeans  green         300
2           3        shirt    red         180
3           4        skirt  black         200